<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>腾讯传</key>
		<string>商业</string>
		<key>文明之光4</key>
		<string>历史</string>
	</dict>
	<dict>
		<key>精进</key>
		<string>自省</string>
		<key>练达</key>
		<string>说话</string>
	</dict>
</array>
</plist>
